<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simulateur</title>
</head>
<body>
    <h1>Simulateur d'aide</h1>
    <p>Pour obtenir la valeur de votre droit aux aides de l'état il vous suffit de rentrer les informations si dessous, remplir le formulaire prend moins de 2 minutes</p>
</body>
</html>