<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Simulateur d'aide{% endblock %}</title>
        <!-- CSS -->
        <link href="{{ asset('assets/css/normalize.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

        <!-- JS -->
        <script src="https://kit.fontawesome.com/8c1ccebd78.js" crossorigin="anonymous"></script>



    </head>
    <body>
    <div class="box">
        <img src="{{ asset('assets/images/ajax-loader.gif') }}" alt="" class="loader">
    </div>

        {# read and display all flash messages #}
        {% block body %}

        {% endblock %}
    </body>
    {% block javascript %}


    {% endblock %}
    <script src="{{ asset('assets/js/loader.js') }}" type="text/javascript" ></script>
</html>
