/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-left: -24px; /* half width of the spinner gif */
    margin-top: -24px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    width: 48px; /* width of the spinner gif */
    height: 48px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.hidden {
    animation: disparition 1s;
    animation-fill-mode: forwards;
}

@keyframes disparition {
    100%{
        opacity: 0;
        display: none;
    }
}

/* FILTER */
.filter-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.filter-container .filter-group ,.filter-group-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px 10px;
}

#eauChaudeSanitaire, #eauChaudeSanitaireChauffage  {
    margin: 5px 10px;
}


/* TABLEAU */

.tableau-resultat-conteneur {
    text-align: center;
}

header h5 {
    font-weight: 100;
}


table{
    border-collapse: collapse;
    width: 400px;
    border: 2px solid black;
    margin: 20px auto;
}

.button-link {
    text-decoration: none;
    width: 50%;
    height: 100%;
    padding: 0 20px;
    border: none;
    background: #070707FF;
    margin-top: 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}
.alerte-proprietaire {
    background-color: rgba(191, 94, 30, 0.5);
    border-radius: 0.2em;
}

/* PROFIL UTILISATEUR ADMIN */
.card-group .card-title {
    width: 100%;
    text-align: center;
    min-width: 300px;
}
.card-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 10px 0;
}

.card-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    padding: 5px 10px;
}

.card-item input[type=checkbox] {
    margin: 5px 10px;
}

.card-item div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.card-item label:first-child,
.card-item-1 label:first-child{
    font-weight: bold;
}

.card-item-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    width: 100%;
    padding: 5px 10px;
}

/* EDIT MENU DEROULANT */

#utilisateur_produit_vise,
#utilisateur_chauffage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    margin: 15px 10px;
}

#utilisateur_produit_vise label,
#utilisateur_chauffage label
{
    width: 35%;
}

#utilisateur_produit_vise input,
#utilisateur_chauffage input{
    margin: 5px 20px;
    height: 1em;
    width: 5%;
}

#ElemChauffage1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    margin: 15px 10px;
}

/* STATS ADMIN */
.graphs-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.graph-group {
    width: 50%;
    height: 50%;
    padding: 5px;
}

.graph-title {
    height: 3em;
    margin: 5px;
}

.graph-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
}

.graph-info .graph-canva {
    height: 16em;
    width: 75%;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    padding: 5px;
}

.graph-info .graph-text {
    height: 3em;
    width: 100%;
}

@media screen and (max-width: 550px) {

.card-info .card-item {
        width: 100%;
}

.card-group {
        width: 100%;
}

.graphs-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
}

.graph-group {
        width: 100%;
        height: 100%;
}

    #utilisateur_chauffage label {
        width: 80%;
    }
}