/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-left: -24px; /* half width of the spinner gif */
    margin-top: -24px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    width: 48px; /* width of the spinner gif */
    height: 48px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.hidden {
    animation: disparition 1s;
    animation-fill-mode: forwards;
}
@keyframes disparition {
    100%{
        opacity: 0;
        display: none;
    }
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    overflow: auto;
    height: 100%;
    min-width: 290px;
}

::selection {
    color: #fff;
    background: #3BC436FF;
}

.container {
    min-width: 290px;
    background: #fff;
    border-radius: 5px;
}


.simulation-title {
    font-size: 2em;
    background: #181818;
    color: #70bf4a;
    border-radius: 0.5rem;
    text-align: center;
}

.container p {
    font-size: 1.5em;
}

.title {
    text-align: center;
    font-size: 3em;
}


.container header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.container .form-outer {
    width: 100%;
    overflow: hidden;
}

.container .form-outer form {
    display: flex;
    width: 200%;
}

.form-outer form .page {
    width: 50%;
    transition: margin-left 0.3s ease-in-out;
}

.coordonnees {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.field {
    height: 12em;
    width: 100%;
}

.field .label {
    display: block;
    font-weight: 500;
    font-size: 2em;
    margin: 10px 5px 10px 5px;
}

.field input {
    font-size: 3em;
    width: 95%;
    margin: 10px 10px 5px 10px;
}

.logement {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.form-outer form .page .field-2 {
    width: 100%;
    font-size: 1em;
    height: 10em;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-content: space-between;

}

.logement .field-2 .label {
    display: block;
    font-weight: 500;
    font-size: 2em;
    margin: 5px 30px 10px 5px;
}



.field-2 div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}
form .page .field-2 input {
    margin: 0 20px;
    height: 2.5em;
    width: 15%;
}

.field-2 div label {
    font-size: 1.5em;
    width: 35%;
    margin: 5px 0px 5px 5px;
}

.enquete {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.form-outer form .page .field-3 {
    height: 15em;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-content: space-between;
    width: 100%;
    transition : 0.5s ease;
}



.field-3 label {
    font-size: 3em;
    display: block;
    font-weight: 500;
    width: 85%;
    margin: 5px 0;
}

.field-3 label:first-child {
    font-size: 2em;
    width: 100%;
}

form .page .field-3 input {
    margin: 5px 10px;
    height: 2em;
    width: 5%;
}

#utilisateur_produit_vise label {
    font-size: 1.5em;
}

.field-3 div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    margin: 15px 10px;
    width: 100%;
}

form .page .field-3 div div label {
    font-size: 1.5em;
}

select {
    margin: 5px 7px;
    width: 95%;
    font-size: 1.5em;
}

select option {
    font-size: 0.8em;
}
.foyer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.accord {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.accord .field-4 {
    height: 10em;
    width: 100%;

}

form .page .field-4 label {
    font-size: 1.5em;
    width: 260px;
}

form .page .field-4 input {
    margin: 5px 7px;
    width: 2em;
    height: 2em;

}

/* BOUTONS */

form .page .buttons {
    margin-top: 3em;
}

form .page .buttons button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #070707FF;
    margin-top: 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

form .page .btns button {
    margin-top: 0.1em !important;
}

#button {
    width: 50%;
    height: 100%;
    border: none;
    background: #070707FF;
    margin-top: 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

form .page .btns button.next {
    margin-left: 3px;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

input[type='checkbox']:checked {
    -webkit-filter: grayscale(100%);
}

input[type='radio']:checked {
    -webkit-filter: grayscale(100%);
}

.alert {
    display: none;
    list-style-type: none;
    color: #ff788a;
    font-size: 1.5em;
    font-weight: bold;
}

.field ul {
    color: red;
    list-style-type: none;
}

/* RESULTAT */

.resultat-title {
    font-size: 0.9em;
    background: #181818;
    color: #70bf4a;
    border-radius: 0.5rem;
    text-align: center;
}

.tableau-resultat-conteneur {
    text-align: center;
}

header h5 {
    font-weight: 100;
}


table {
    border-collapse: collapse;
    min-width: 290px;
    border: 2px solid;
    margin: 20px auto;
}
th, td{
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
}

table tr:last-child {
    border-top: 3px solid;
}

.button-link {
    text-decoration: none;
    width: 50%;
    height: 100%;
    padding: 0 10px;
    border: none;
    background: #070707FF;
    margin-top: 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.7em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}
.alerte-proprietaire {
    background-color: rgba(191, 94, 30, 0.5);
    border-radius: 0.2em;
}

footer {
    display: flex;
    flex-direction: column;

}
footer div {
    margin: 10px 0;
}

@media screen and (min-width: 460px) and (max-width: 767px) {

    body {
        margin: 20px 0;
        height: 100%;
    }



    .container {
        margin: 0 20px;
        width: 100%;
    }

    p {
        display: block;
        font-size: 1.7em;
    }

    .title {
        font-size: 3em;
        font-weight: 500;
    }


    .container header {
        font-size: 35px;
        font-weight: 600;
        margin: 0 0 30px 0;
    }

    .container .form-outer {
        width: 100%;
        overflow: hidden;
    }

    .container .form-outer form {
        display: flex;
        width: 400%;
    }

    .form-outer form .page {
        width: 25%;
        transition: margin-left 0.3s ease-in-out;
    }

    .coordonnees {
        width: 100%;
    }

    .field {
        height: 7em;
        width: 100%;
    }

    .field .label {
        font-size: 1.5em;
    }

    .field input {
        font-size: 1.5em;
    }

    .logement {

        width: 100%;
    }

    .form-outer form .page .field-2 {
        width: 100%;
        font-size: 1em;
        height: 6em;
    }

    .field-2 div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    form .page .field-2 input {
        margin: 0 10px;
        height: 1.5em;
        width: 5%;
    }

    .logement .field-2 .label {
        font-size: 1.5em;
    }

    .field-2 div label {
        font-size: 1.1em;
    }

    .form-outer form .page .field-3 {
        height: 10em;
    }

    form .page .field-3 label:first-child {
        font-size: 2em;
        width: 100%;
    }

    form .page .field-3 input {
        height: 1.1em;
    }

    #utilisateur_produit_vise label {
        font-size: 1.1em;
        width: 87%;
    }

    form .page .field-3 div label {
        font-size: 2em;
    }

    form .page .field-3 div div label {
        width: 85%;
        font-size: 1.1em;
    }

    select {
        font-size: 1.5em;
    }

    select option {
        font-size: 1.2em;
    }

    .foyer {
        flex-direction: row;
    }

    .accord .field-4 {
        height: 14em;

    }

    .accord .field-4 div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    form .page .field-4 label {
        font-size: 1.5em;
        margin: 5px 7px;
        width: 85%;
    }



    /* BOUTONS */
    #button-2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 25px;
        height: 5em;

    }

    form .page .buttons button {
        width: 50%;
        margin: 0 25%;
        height: calc(100% + 1em);
        font-size: 2em;
    }

    form .page .buttons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
    }

    form .page .buttons .buttons-2 {
        font-size: 2em;
        margin: 0 0 0 0 !important;
    }

    form .page .btns button.next {
        margin-left: 3px;
    }

}

/* PC */
@media screen and (min-width: 768px) {

    body {
        margin: 20px 0;
        height: 100%;
    }



    .container {
        margin: 0 20px;
        width: 100%;
    }

    p {
        display: block;
        font-size: 1.7em;
    }

    .title {
        font-size: 3em;
        font-weight: 500;
    }


    .container header {
        font-size: 35px;
        font-weight: 600;
        margin: 0 0 30px 0;
    }

    .container .form-outer {
        width: 100%;
        overflow: hidden;
    }

    .coordonnees {
        flex-direction: row;
        width: 100%;
    }

    .field {
        height: 7em;
        width: 50%;
    }

    .field .label {
        font-size: 1.5em;
    }

    .field input {
        font-size: 1.5em;
    }

    .field-2 div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .logement {
        flex-direction: row;
    }

    .form-outer form .page .field-2 {
        width: 50%;
        font-size: 1em;
        height: 6em;
    }

    .logement .field-2 .label {
        font-size: 1.5em;
    }
    form .page .field-2 input {
        height: 1.5em;
        width: 5%;
    }

    .field-2 div label {
        font-size: 1.1em;
        width: 30%;
    }

    .form-outer form .page .field-3 {
        height: 7em;
    }

    form .page .field-3 label {
        font-size: 2em;
    }

    form .page .field-3 input {
        height: 1.1em;
        margin: 5px 0;
    }

    #utilisateur_produit_vise label {
        font-size: 1.1em;
        width: 27%;
    }

    form .page .field-3 div label {
        font-size: 2em;
    }

    form .page .field-3 div div label {
        width: 45%;
        font-size: 1.1em;
    }

    select {
        font-size: 1.5em;
    }

    select option {
        font-size: 1.2em;
    }

    .foyer {
        flex-direction: row;
    }

    .accord .field-4 div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    form .page .field-4 label {
        font-size: 1.5em;
        margin: 5px 7px;
        width: 90%;
    }

    /* BOUTONS */
    #button-2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 25px;
        height: 5em;

    }

    form .page .buttons button {
        width: 50%;
        margin: 0 25%;
        height: calc(100% + 1em);
        font-size: 2.5em;
    }

    form .page .buttons  {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
    }

    form .page .buttons .buttons-2 {
        font-size: 2.5em;
        margin: 0 0 0 0 !important;
    }

    form .page .btns button.next {
        margin-left: 3px;
    }

}
