@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px 0;
    overflow: auto;
    height: 1700px;
    background: url("bg.png"), -webkit-linear-gradient(bottom, #3bc436, #070707);
}

::selection {
    color: #fff;
    background: #3BC436FF;
}

.container {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
}

h3 {
    font-size: 5em;
}

p {
    display: none;
    font-size: 3em;
}

.title {
    text-align: center;
    font-size: 3em;
}


.container header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.container .form-outer {
    width: 100%;
    overflow: hidden;
}

.container .form-outer form {
    display: flex;
    width: 400%;
}

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.coordonnees {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.field {
    height: 10em;
    width: 100%;
}

.field .label {
    display: block;
    font-weight: 500;
    font-size: 2.5em;
    margin: 5px 30px 10px 5px;
}

.field input {
    font-size: 3em;
    width: 95%;
    margin: 5px 10px 5px 10px;
}

.logement {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.form-outer form .page .field-2 {
    width: 100%;
    font-size: 1em;
    height: 8em;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-content: space-between;

}

.logement .field-2 .label {
    display: block;
    font-weight: 500;
    font-size: 2.5em;
    margin: 5px 30px 10px 5px;
}



.field-2 div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
form .page .field-2 input {
    margin: 0 20px;
    height: 3em;
    width: 5%;
}

.field-2 div label {
    font-size: 2em;
    width: 35%;
    margin: 5px 0px 5px 5px;
}

.enquete {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.form-outer form .page .field-3 {
    height: 10em;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-content: space-between;
    width: 100%;
}
form .page .field-3 label {
    font-size: 3em;
    display: block;
    font-weight: 500;
    width: 85%;
    margin: 5px 0;
}

form .page .field-3 input {
    margin: 5px 20px;
    height: 2em;
    width: 5%;
}

#utilisateur_produit_vise label {
    font-size: 2em;
}

.field-3 div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    margin: 15px 10px;
}

form .page .field-3 div label {
    font-size: 3em;
}

form .page .field-3 div div label {
    font-size: 2em;
}

select {
    margin: 5px 7px;
    width: 95%;
    font-size: 2em;
}

select option {
    font-size: 2em;
}
.foyer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.accord {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.accord .field-4 {
    height: 10em;
    width: 100%;

}

form .page .field-4 label {
    font-size: 2em;
    width: 260px;
}

form .page .field-4 input {
    margin: 5px 7px;
    width: 2em;
    height: 2em;

}

#button-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 25px;
    height: 5em;

}

form .page .button-solo button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #070707FF;
    margin-top: 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

form .page .btns button {
    margin-top: -20px !important;
}

#button {
    width: 50%;
    height: 100%;
    border: none;
    background: #070707FF;
    margin-top: 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

form .page .btns button.next {
    margin-left: 3px;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

input[type='checkbox']:checked {
    -webkit-filter: grayscale(100%);
}

input[type='radio']:checked {
    -webkit-filter: grayscale(100%);
}

.alert {
    list-style-type: none;
}

.field ul {
    color: red;
    list-style-type: none;
}

@media (min-width: 992px) {

    h3 {
        font-size: 2.5em;
    }

    p {
        display: block;
        font-size: 1.7em;
    }

    .title {
        font-size: 2em;
    }


    .container header {
        font-size: 35px;
        font-weight: 600;
        margin: 0 0 30px 0;
    }

    .container .form-outer {
        width: 100%;
        overflow: hidden;
    }

    .container .form-outer form {
        display: flex;
        width: 400%;
    }

    .form-outer form .page {
        width: 25%;
        transition: margin-left 0.3s ease-in-out;
    }

    .coordonnees {
        flex-direction: row;
        width: 100%;
    }

    .field {
        height: 7em;
        width: 50%;
    }

    .field .label {
        font-size: 1.5em;

    }

    .field input {
        font-size: 1.5em;
    }

    .logement {
        flex-direction: row;
        width: 100%;
    }

    .form-outer form .page .field-2 {
        width: 50%;
        font-size: 1em;
        height: 6em;
        flex-direction: column;
    }

    .logement .field-2 .label {
        font-size: 1.5em;
    }

    .field-2 div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    form .page .field-2 input {
        height: 1.5em;
        width: 5%;
    }

    .field-2 div label {
        font-size: 1.1em;
        width: 35%;
        margin: 5px 0px 5px 5px;
    }

    .enquete {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .form-outer form .page .field-3 {
        height: 10em;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-content: space-between;
        width: 100%;
    }
    form .page .field-3 label {
        font-size: 2em;
        width: 35%;
    }

    form .page .field-3 input {
        margin: 5px 20px;
        height: 1.1em;
        width: 5%;
    }

    #utilisateur_produit_vise label {
        font-size: 1.1em;
    }

    .field-3 div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        margin: 15px 10px;
    }

    form .page .field-3 div label {
        font-size: 2em;
    }

    form .page .field-3 div div label {
        width: 40%;
        font-size: 1.1em;
    }

    select {
        margin: 5px 7px;
        width: 95%;
        font-size: 2em;
    }

    select option {
        font-size: 2em;
    }
    .foyer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .accord {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .accord .field-4 {
        height: 10em;
        width: 100%;

    }

    form .page .field-4 label {
        font-size: 2em;
        width: 260px;
    }

    form .page .field-4 input {
        margin: 5px 7px;
        width: 2em;
        height: 2em;

    }

    #button-2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 25px;
        height: 5em;

    }



}


