<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- CSS -->
{#        <link href="../public/assets/css/normalize.css" rel="stylesheet">#}
{#        <link href="../public/assets/css/bootstrap.min.css" rel="stylesheet">#}
        <link href="../public/assets/css/style.css" rel="stylesheet">

        <!-- JS -->
        {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>#}
    </head>
    <body>
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-dark" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
