<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Simulateur d'aide{% endblock %}</title>
        <!-- CSS -->
        <link href="../public/assets/css/normalize.css" rel="stylesheet">
        {#<link href="../public/assets/css/bootstrap.min.css" rel="stylesheet">#}
        <link href="../public/assets/css/style.css" rel="stylesheet">

        <!-- JS -->

    </head>
    <body>
        {# read and display all flash messages #}
        {% block body %}

        {% endblock %}
    </body>
</html>
