{% extends '/bundles/TwigBundle/Exception/base_error.html.twig' %}

{% block body %}
    <h2>Vous êtes perdu ?</h2>
    <a href="https://top-enr.com/" target="_blank">
        <img src="{{ asset('assets/images/error-404.png') }}" alt="erreur_404">
{% endblock %}

{% block title %}Erreur 404 ! | {{ parent() }}{% endblock %}