{% extends '/bundles/TwigBundle/Exception/base_error.html.twig' %}

{% block body %}
    <h2>Ooooouuups! Il semble qu'il y a un probleme!</h2>
    <img src="{{ asset('assets/images/error-403.png') }}" alt="erreur_403">

{% endblock %}

{% block title %}Erreeuuur ! | {{ parent() }}{% endblock %}