{% extends '/bundles/TwigBundle/Exception/base_error.html.twig' %}

{% block body %}
    <h1>TOP-EnR</h1>
    <h2>Ooooouuups! Il semble qu'il y a un probleme!</h2>
    <img src="public/assets/images/error-403.png" alt="">

{% endblock %}

{% block title %}Erreeuuur ! | {{ parent() }}{% endblock %}